@import url('https://rsms.me/inter/inter.css');

/* DARK MODE - LIGHT MODE */
@media (prefers-color-scheme: light) {
	* {
		color: #18181b;
	}
	body {
		background-color: #f4f4f5;
	}
	tr {
		border-bottom: solid 1px #d1d5db;
		transition: none;
	}
	.section-container-buttons {
		background-color: #f9fafb;
		border-radius: 20px 20px 0px 0px;
		border: solid 1px #d1d5db;
		border-bottom: none;
	}
	input {
		background: transparent;
		border: solid 1px #d1d5db;
		box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
	}
	input:focus,
	input:active {
		background-color: #fafafa;
		box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
		border: solid 1px #e5e7eb;
	}
	.btn-add {
		background: #5eead4;
	}
	.btn-rem {
		background-color: #f87171;
	}
}
@media (prefers-color-scheme: dark) {
	* {
		color: #fafafa;
	}
	body {
		background-color: #18181b;
	}
	tr {
		border-bottom: solid 1px #4b5563;
		transition: none;
	}
	.section-container-buttons {
		background-color: #18181b;
		border-radius: 20px 20px 0px 0px;
		border: solid 1px #4b5563;
		border-bottom: none;
	}
	input {
		background: transparent;
		border: solid 1px #4b5563;
	}
	input:focus,
	input:active {
		background-color: #27272a;
		box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
		border: solid 1px #6b7280;
	}
	.btn-add {
		background: #115e59;
	}
	.btn-rem {
		background-color: #991b1b;
	}
}

* {
	margin: 0;
	box-sizing: border-box;
	transition: 300ms;
	font-family: 'Inter var', sans-serif;
}

main {
	position: relative;
	overflow: scroll;
}

header {
	position: relative;
	height: 150px;
	width: 100%;
	/* background-color: blue; */
}

.container-title {
	position: absolute;
	float: left;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.title {
	font-size: 35px;
	letter-spacing: 10px;
	font-weight: lighter;
	text-align: center;
}

.container-table {
	position: relative;
	width: 100%;
}

table {
	width: 80%;
	position: relative;
	left: 50%;
	transform: translate(-50%);
	text-align: center;
	border-collapse: collapse;
	table-layout: fixed;
	border-radius: 15px;
	font-size: 16px;
}

th,
td {
	padding: 20px 0px 20px 0px;
	font-weight: normal;
}

.space-bottom,
.section-container-buttons {
	height: 120px;
	width: 100%;
}

.section-container-buttons {
	position: fixed;
	bottom: 0;
	box-shadow: 0px -2px 6px rgba(0, 0, 0, 0.15);
}

.container-input,
.container-btn-add,
.container-btn-rem {
	position: relative;
	float: left;
	height: 100%;
	width: calc(100% / 2);
}

.container-btn-rem {
	opacity: 0;
	transform: scale(0.9);
	width: calc(100% / 3);
}

input {
	padding: 15px;
	font-size: 16px;
	width: 90px;
	height: 70px;
}

input:focus {
	outline: none;
}

input,
.btn-add,
.btn-rem {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 15px;
}

.btn-add,
.btn-rem {
	height: 70px;
	width: 70px;
	font-size: 11px;
	text-align: center;
	border: none;
}

.show {
	transform: scale(1);
	opacity: 1;
}
